Repository SotMSteamMods/CauldronMods, pull requests merged in 2020-12, with the labels that each got.

#281 Quicksilver bugfixes
  Controller/Heroes/Quicksilver/Cards/IronRetortCardController.cs
  Controller/Heroes/Quicksilver/Cards/LiquidMetalCardController.cs
Labels: confirmed bug

#298 Quicksilver variants
  Controller/Heroes/Quicksilver/CardSubClasses/QuicksilverSubCharacterCardController.cs
  Controller/Heroes/Quicksilver/CharacterCards/QuicksilverCharacterCardController.cs
  Controller/Heroes/Quicksilver/CharacterCards/RenegadeQuicksilverCharacterCardController.cs
  Controller/Heroes/Quicksilver/CharacterCards/UncannyQuicksilverCharacterCardController.cs
  DeckLists/Hero/QuicksilverDeckList.json
  Testing/Heroes/QuicksilverVariantsTests.cs
Labels: enhancement

#284 Hide variant banners
  DeckLists/Hero/BaccaratDeckList.json
  DeckLists/Hero/CricketDeckList.json
  DeckLists/Hero/CypherDeckList.json
  DeckLists/Hero/DocHavocDeckList.json
  DeckLists/Hero/DriftDeckList.json
  DeckLists/Hero/EchelonDeckList.json
  DeckLists/Hero/GargoyleDeckList.json
  DeckLists/Hero/GyrosaurDeckList.json
  DeckLists/Hero/ImpactDeckList.json
  DeckLists/Hero/LadyOfTheWoodDeckList.json
  DeckLists/Hero/MagnificentMaraDeckList.json
  DeckLists/Hero/MalichaeDeckList.json
  DeckLists/Hero/NecroDeckList.json
  DeckLists/Hero/PyreDeckList.json
  DeckLists/Hero/StarlightDeckList.json
  DeckLists/Hero/TangoOneDeckList.json
  DeckLists/Hero/TerminusDeckList.json
  DeckLists/Hero/TheKnightDeckList.json
  DeckLists/Hero/TheStrangerDeckList.json
  DeckLists/Hero/TitanDeckList.json
  DeckLists/Hero/VanishDeckList.json
  DeckLists/Villain/AnathemaDeckList.json
  DeckLists/Villain/DendronDeckList.json
  DeckLists/Villain/SwarmEaterDeckList.json
  DeckLists/Villain/TheRamDeckList.json
  DeckLists/Villain/TiamatDeckList.json
Labels: enhancement

#293 Swarm Eater Peer Review
  Controller/Villains/SwarmEater/CardSubClasses/AugCardController.cs
  Controller/Villains/SwarmEater/Cards/AbsorbedNanitesCardController.cs
  Controller/Villains/SwarmEater/Cards/BehindYouCardController.cs
  Controller/Villains/SwarmEater/Cards/BladeAugCardController.cs
  Controller/Villains/SwarmEater/Cards/ConvertedBiomassCardController.cs
  Controller/Villains/SwarmEater/Cards/FireAugCardController.cs
  Controller/Villains/SwarmEater/Cards/FollowTheScreamsCardController.cs
  Controller/Villains/SwarmEater/Cards/HuntingGroundsCardController.cs
  Controller/Villains/SwarmEater/Cards/InsatiableChargeCardController.cs
  Controller/Villains/SwarmEater/Cards/JumperAugCardController.cs
  Controller/Villains/SwarmEater/Cards/LasherAugCardController.cs
  Controller/Villains/SwarmEater/Cards/NaniteCorruptionCardController.cs
  Controller/Villains/SwarmEater/Cards/SingleMindedPursuitCardController.cs
  Controller/Villains/SwarmEater/Cards/SpeedAugCardController.cs
  Controller/Villains/SwarmEater/Cards/StalkerAugCardController.cs
  Controller/Villains/SwarmEater/Cards/SubterranAugCardController.cs
  Controller/Villains/SwarmEater/Cards/UpdatedPrioritiesCardController.cs
  Controller/Villains/SwarmEater/Cards/VenomAugCardController.cs
  Controller/Villains/SwarmEater/CharacterCards/SwarmEaterCharacterCardController.cs
  Controller/Villains/SwarmEater/CharacterCards/SwarmEaterTurnTakerController.cs
  Docs/manifest.json
  Testing/Villains/SwarmEaterTests.cs
Labels: Deck Peer Review Pending

#400 Superstorm akela Peer Review
  Controller/Environments/SuperstormAkela/CardSubClasses/SuperstormAkelaCardController.cs
  Controller/Environments/SuperstormAkela/Cards/AscendedEdificeCardController.cs
  Controller/Environments/SuperstormAkela/Cards/ChurningVoidCardController.cs
  Controller/Environments/SuperstormAkela/Cards/CutLooseCardController.cs
  Controller/Environments/SuperstormAkela/Cards/FlailingWiresCardController.cs
  Controller/Environments/SuperstormAkela/Cards/FlyingBusCardController.cs
  Controller/Environments/SuperstormAkela/Cards/ForgottenDjinnCardController.cs
  Controller/Environments/SuperstormAkela/Cards/FracturedSkyCardController.cs
  Controller/Environments/SuperstormAkela/Cards/GeminiIndraCardController.cs
  Controller/Environments/SuperstormAkela/Cards/GeminiMayaCardController.cs
  Controller/Environments/SuperstormAkela/Cards/GeogravLocusCardController.cs
  Controller/Environments/SuperstormAkela/Cards/PressureDropCardController.cs
  Controller/Environments/SuperstormAkela/Cards/RideTheCurrentsCardController.cs
  Controller/Environments/SuperstormAkela/Cards/ScatterburstCardController.cs
  Controller/Environments/SuperstormAkela/Cards/SkulkingIntermediaryCardController.cs
  Controller/Environments/SuperstormAkela/Cards/ToppledSkyscraperCardController.cs
  DeckLists/Environment/SuperstormAkelaDeckList.json
  Docs/manifest.json
  README.md
  Testing/BaseTest.cs
  Testing/Environments/SuperstormAkelaTests.cs
Labels: Deck Peer Review Pending

#336 The Cybersphere Peer Review
  Controller/Environments/TheCybersphere/CardSubClasses/TheCybersphereCardController.cs
  Controller/Environments/TheCybersphere/Cards/B3h3mthCardController.cs
  Controller/Environments/TheCybersphere/Cards/Dr3DntCardController.cs
  Controller/Environments/TheCybersphere/Cards/Fo551lCardController.cs
  Controller/Environments/TheCybersphere/Cards/Gho5tCardController.cs
  Controller/Environments/TheCybersphere/Cards/GlitchCardController.cs
  Controller/Environments/TheCybersphere/Cards/H3l1xCardController.cs
  Controller/Environments/TheCybersphere/Cards/HolocycleRaceCardController.cs
  Controller/Environments/TheCybersphere/Cards/HologameArenaCardController.cs
  Controller/Environments/TheCybersphere/Cards/InfectedFirewallCardController.cs
  Controller/Environments/TheCybersphere/Cards/InfectedHoloweaponCardController.cs
  Controller/Environments/TheCybersphere/Cards/N1nj4CardController.cs
  Controller/Environments/TheCybersphere/Cards/ReplicationCardController.cs
  Controller/Environments/TheCybersphere/Cards/Sp4rkCardController.cs
  Controller/Environments/TheCybersphere/Cards/SystemCrashCardController.cs
  Controller/Environments/TheCybersphere/Cards/YourMindMakesItRealCardController.cs
  DeckLists/Environment/TheCybersphereDeckList.json
  Docs/manifest.json
  README.md
  Testing/Environments/TheCybersphereTests.cs
Labels: Deck Peer Review Pending

#403 First cut of Vector
  Controller/Villains/Vector/CardSubClasses/VectorBaseCardController.cs
  Controller/Villains/Vector/CardSubClasses/VectorBaseCharacterCardController.cs
  Controller/Villains/Vector/Cards/AnticoagulantCardController.cs
  Controller/Villains/Vector/Cards/AssassinsSignatureCardController.cs
  Controller/Villains/Vector/Cards/BioterrorSquadCardController.cs
  Controller/Villains/Vector/Cards/BloodSampleCardController.cs
  Controller/Villains/Vector/Cards/DelayedSymptomsCardController.cs
  Controller/Villains/Vector/Cards/EliteTrainingCardController.cs
  Controller/Villains/Vector/Cards/HostageShieldCardController.cs
  Controller/Villains/Vector/Cards/HotZoneCardController.cs
  Controller/Villains/Vector/Cards/HyperactiveImmuneSystemCardController.cs
  Controller/Villains/Vector/Cards/LethalForceCardController.cs
  Controller/Villains/Vector/Cards/QuarantineProtocolsCardController.cs
  Controller/Villains/Vector/Cards/SupervirusCardController.cs
  Controller/Villains/Vector/Cards/UndiagnosedSubjectCardController.cs
  Controller/Villains/Vector/Cards/VendettaCardController.cs
  Controller/Villains/Vector/Cards/VirulentBladeCardController.cs
  Controller/Villains/Vector/Cards/VrRazortailCardController.cs
  Controller/Villains/Vector/CharacterCards/VectorCharacterCardController.cs
  Controller/Villains/Vector/CharacterCards/VectorTurnTakerController.cs
  DeckLists/Villain/VectorDeckList.json
  Docs/manifest.json
  Testing/Villains/VectorTests.cs
Labels: Deck Peer Review Pending

#414 Titan
  Controller/Heroes/Titan/Cards/CombatPragmatismCardController.cs
  Controller/Heroes/Titan/Cards/ForbiddenArchivesCardController.cs
  Controller/Heroes/Titan/Cards/HaplessShieldCardController.cs
  Controller/Heroes/Titan/Cards/ImmolateCardController.cs
  Controller/Heroes/Titan/Cards/JuggernautStrikeCardController.cs
  Controller/Heroes/Titan/Cards/MisbehaviorCardController.cs
  Controller/Heroes/Titan/Cards/MoltenVeinsCardController.cs
  Controller/Heroes/Titan/Cards/Ms5DemolitionChargeCardController.cs
  Controller/Heroes/Titan/Cards/ObsidianGraspCardController.cs
  Controller/Heroes/Titan/Cards/PaybackTimeCardController.cs
  Controller/Heroes/Titan/Cards/ReversalCardController.cs
  Controller/Heroes/Titan/Cards/StubbornGoliathCardController.cs
  Controller/Heroes/Titan/Cards/TheChaplainCardController.cs
  Controller/Heroes/Titan/Cards/TitanformCardController.cs
  Controller/Heroes/Titan/Cards/UnbreakableCardController.cs
  Controller/Heroes/Titan/Cards/VulcansJudgmentCardController.cs
  Controller/Heroes/Titan/CharacterCards/FutureTitanCharacter.cs
  Controller/Heroes/Titan/CharacterCards/MinistryOfStrategicScienceTitanCharacter.cs
  Controller/Heroes/Titan/CharacterCards/OniTitanCharacter.cs
  Controller/Heroes/Titan/CharacterCards/TitanCharacterCardController.cs
  Controller/Heroes/Titan/SubCardClasses/TitanCardController.cs
  DeckLists/Hero/TitanDeckList.json
  Docs/manifest.json
  Testing/Heroes/TitanTests.cs
  Testing/Heroes/TitanVariantTests.cs
Labels: Deck Peer Review Pending

#435 Lady of the wood variants
  Controller/Heroes/LadyOfTheWood/CharacterCards/FutureLadyOfTheWoodCharacterCardController.cs
  Controller/Heroes/LadyOfTheWood/CharacterCards/MinistryOfStrategicScienceLadyOfTheWoodCharacterCardController.cs
  Controller/Heroes/LadyOfTheWood/CharacterCards/SeasonsOfChangeLadyOfTheWoodCharacterCardController.cs
  DeckLists/Hero/LadyOfTheWoodDeckList.json
  Testing/Heroes/LadyOfTheWoodVariantTests.cs
Labels: Variant Peer Review

#413 Jade/Oriphel Peer Review
  Controller/Villains/Oriphel/CardSubClasses/OriphelGuardianCardController.cs
  Controller/Villains/Oriphel/CardSubClasses/OriphelShardkeyCardController.cs
  Controller/Villains/Oriphel/CardSubClasses/OriphelUtilityCardController.cs
  Controller/Villains/Oriphel/Cards/GrandOriphelCardController.cs
  Controller/Villains/Oriphel/Cards/HighAsrielCardController.cs
  Controller/Villains/Oriphel/Cards/HighDjarilCardController.cs
  Controller/Villains/Oriphel/Cards/HighPhaolCardController.cs
  Controller/Villains/Oriphel/Cards/HighTormulCardController.cs
  Controller/Villains/Oriphel/Cards/MejiClanLeaderCardController.cs
  Controller/Villains/Oriphel/Cards/MejiGuardCardController.cs
  Controller/Villains/Oriphel/Cards/MejiNomadCardController.cs
  Controller/Villains/Oriphel/Cards/MirageCardController.cs
  Controller/Villains/Oriphel/Cards/MoonShardkeyCardController.cs
  Controller/Villains/Oriphel/Cards/SandstormCardController.cs
  Controller/Villains/Oriphel/Cards/ScrollsOfZephaerenCardController.cs
  Controller/Villains/Oriphel/Cards/ShardbearerNathanielCardController.cs
  Controller/Villains/Oriphel/Cards/ShardwalkersAwakeningCardController.cs
  Controller/Villains/Oriphel/Cards/SunShardkeyCardController.cs
  Controller/Villains/Oriphel/Cards/UmbralJavelinCardController.cs
  Controller/Villains/Oriphel/Cards/VeilShardkeyCardController.cs
  Controller/Villains/Oriphel/Cards/WorldShardkeyCardController.cs
  Controller/Villains/Oriphel/CharacterCards/OriphelCharacterCardController.cs
  Controller/Villains/Oriphel/CharacterCards/OriphelTurnTakerController.cs
  DeckLists/Villain/OriphelDeckList.json
  Docs/manifest.json
  Testing/Villains/OriphelTests.cs
Labels: Deck Peer Review Pending

#454 Varied fixes 12-8
  Controller/Heroes/Baccarat/Cards/BringDownTheHouseCardController.cs
  Controller/Heroes/Baccarat/Cards/GraveyardBridgeCardController.cs
  Controller/Heroes/Baccarat/CharacterCards/BaccaratCharacterCardController.cs
  Controller/Heroes/Titan/Cards/ImmolateCardController.cs
  Controller/Villains/SwarmEater/Cards/HuntingGroundsCardController.cs
  Controller/Villains/SwarmEater/Cards/SubterranAugCardController.cs
  Controller/Villains/SwarmEater/CharacterCards/SwarmEaterCharacterCardController.cs
  DeckLists/Hero/BaccaratDeckList.json
  DeckLists/Villain/SwarmEaterDeckList.json
Labels: confirmed bug, enhancement

#381 Magnificent Mara peer review
  Controller/Heroes/MagnificentMara/CardSubClasses/MaraUtilityCharacterCardController.cs
  Controller/Heroes/MagnificentMara/Cards/AbracadabraCardController.cs
  Controller/Heroes/MagnificentMara/Cards/BootlegMesmerPendantCardController.cs
  Controller/Heroes/MagnificentMara/Cards/ConvincingDoubleCardController.cs
  Controller/Heroes/MagnificentMara/Cards/DowsingCrystalCardController.cs
  Controller/Heroes/MagnificentMara/Cards/GlimpseOfThingsToComeCardController.cs
  Controller/Heroes/MagnificentMara/Cards/HandIsFasterThanTheEyeCardController.cs
  Controller/Heroes/MagnificentMara/Cards/ImprobableEscapeCardController.cs
  Controller/Heroes/MagnificentMara/Cards/KalpakOfMysteriesCardController.cs
  Controller/Heroes/MagnificentMara/Cards/LookingForThisCardController.cs
  Controller/Heroes/MagnificentMara/Cards/MesmerPendantCardController.cs
  Controller/Heroes/MagnificentMara/Cards/MisdirectionCardController.cs
  Controller/Heroes/MagnificentMara/Cards/MixItUpCardController.cs
  Controller/Heroes/MagnificentMara/Cards/MysticalEnhancementCardController.cs
  Controller/Heroes/MagnificentMara/Cards/PostHypnoticCueCardController.cs
  Controller/Heroes/MagnificentMara/Cards/SmokeAndMirrorsCardController.cs
  Controller/Heroes/MagnificentMara/Cards/WandOfBanishmentCardController.cs
  Controller/Heroes/MagnificentMara/CharacterCards/MagnificentMaraCharacterCardController.cs
  DeckLists/Hero/MagnificentMaraDeckList.json
  Docs/manifest.json
  Testing/Heroes/MagnificentMaraTests.cs
Labels: Deck Peer Review Pending

#466 Anathema variant
  Controller/Villains/Anathema/CharacterCards/AcceleratedEvolutionAnathemaCharacterCardController.cs
  Controller/Villains/Anathema/CharacterCards/AnathemaTurnTakerController.cs
  DeckLists/Villain/AnathemaDeckList.json
  Testing/Villains/AnathemaVariantTests.cs
Labels: Variant Peer Review

#486 Necro variants
  Controller/Heroes/Necro/CardSubClasses/NecroCardController.cs
  Controller/Heroes/Necro/CharacterCards/LastOfTheForgottenOrderNecroCharacterCardController.cs
  Controller/Heroes/Necro/CharacterCards/PastNecroCharacterCardController.cs
  Controller/Heroes/Necro/CharacterCards/WardenOfChaosNecroCharacterCardController.cs
  DeckLists/Hero/NecroDeckList.json
  Testing/Heroes/NecroVariantTests.cs
Labels: Variant Peer Review

#489 Varied issues Dec-11
  Controller/Villains/SwarmEater/Cards/FireAugCardController.cs
  DeckLists/Environment/FSCContinuanceWandererDeckList.json
  Testing/Villains/SwarmEaterTests.cs
Labels: confirmed bug

#457 The Stranger variants
  Controller/Heroes/TheStranger/Cards/GlyphOfDecayCardController.cs
  Controller/Heroes/TheStranger/CharacterCards/CornTheStrangerCharacterCardController.cs
  Controller/Heroes/TheStranger/CharacterCards/PastTheStrangerCharacterCardController.cs
  Controller/Heroes/TheStranger/CharacterCards/RunecarvedTheStrangerCharacterCardController.cs
  Controller/Heroes/TheStranger/CharacterCards/WastelandRoninTheStrangerCharacterCardController.cs
  DeckLists/Hero/TheStrangerDeckList.json
  Testing/Heroes/TheStrangerTests.cs
  Testing/Heroes/TheStrangerVariantTests.cs
Labels: Variant Peer Review

#434 The Ram 1929 Peer Review
  Controller/Villains/TheRam/CardSubClasses/TheRamUtilityCardController.cs
  Controller/Villains/TheRam/Cards/BarrierBusterCardController.cs
  Controller/Villains/TheRam/Cards/FallBackCardController.cs
  Controller/Villains/TheRam/Cards/FallingMeteorCardController.cs
  Controller/Villains/TheRam/Cards/GrapplingClawCardController.cs
  Controller/Villains/TheRam/Cards/PersonalDefenseSpinesCardController.cs
  Controller/Villains/TheRam/Cards/RechargeCircuitsCardController.cs
  Controller/Villains/TheRam/CharacterCards/AdmiralWintersCharacterCardController.cs
  Controller/Villains/TheRam/CharacterCards/PastTheRamCharacterCardController.cs
  Controller/Villains/TheRam/CharacterCards/TheRamCharacterCardController.cs
  Controller/Villains/TheRam/CharacterCards/TheRamTurnTakerController.cs
  DeckLists/Villain/TheRamDeckList.json
  Testing/Villains/TheRamVariantTests.cs
Labels: Variant Peer Review, enhancement

#487 Cypher Peer Review
  Controller/Heroes/Cypher/CardSubClasses/AugBaseCardController.cs
  Controller/Heroes/Cypher/CardSubClasses/CypherBaseCardController.cs
  Controller/Heroes/Cypher/CardSubClasses/CypherBaseCharacterCardController.cs
  Controller/Heroes/Cypher/Cards/BackupPlanCardController.cs
  Controller/Heroes/Cypher/Cards/CyberdefenseCardController.cs
  Controller/Heroes/Cypher/Cards/CyberintegrationCardController.cs
  Controller/Heroes/Cypher/Cards/CyborgBlasterCardController.cs
  Controller/Heroes/Cypher/Cards/CyborgPunchCardController.cs
  Controller/Heroes/Cypher/Cards/DermalAugCardController.cs
  Controller/Heroes/Cypher/Cards/ElectroOpticalCloakCardController.cs
  Controller/Heroes/Cypher/Cards/FusionAugCardController.cs
  Controller/Heroes/Cypher/Cards/HackingProgramCardController.cs
  Controller/Heroes/Cypher/Cards/HeuristicAlgorithmCardController.cs
  Controller/Heroes/Cypher/Cards/InitiatedUpgradeCardController.cs
  Controller/Heroes/Cypher/Cards/MuscleAugCardController.cs
  Controller/Heroes/Cypher/Cards/NaniteSurgeCardController.cs
  Controller/Heroes/Cypher/Cards/NetworkedAttackCardController.cs
  Controller/Heroes/Cypher/Cards/NeuralInterfaceCardController.cs
  Controller/Heroes/Cypher/Cards/RapidPrototypingCardController.cs
  Controller/Heroes/Cypher/Cards/RebuiltToSucceedCardController.cs
  Controller/Heroes/Cypher/Cards/RetinalAugCardController.cs
  Controller/Heroes/Cypher/Cards/VascularAugCardController.cs
  Controller/Heroes/Cypher/CharacterCards/CypherCharacterCardController.cs
  DeckLists/Hero/CypherDeckList.json
  Docs/manifest.json
  Testing/Heroes/CypherTests.cs
Labels: Deck Peer Review Pending

#451 Cricket Peer Review
  Controller/Heroes/Cricket/Cards/AcousticDistortionCardController.cs
  Controller/Heroes/Cricket/Cards/BeforeTheThunderCardController.cs
  Controller/Heroes/Cricket/Cards/ChirpCardController.cs
  Controller/Heroes/Cricket/Cards/EchonavigationCardController.cs
  Controller/Heroes/Cricket/Cards/EnhancedHearingCardController.cs
  Controller/Heroes/Cricket/Cards/GrasshopperKickCardController.cs
  Controller/Heroes/Cricket/Cards/InfrasonicCollapseCardController.cs
  Controller/Heroes/Cricket/Cards/ReturnPulseCardController.cs
  Controller/Heroes/Cricket/Cards/SilentStalkerCardController.cs
  Controller/Heroes/Cricket/Cards/SonicAmplifierCardController.cs
  Controller/Heroes/Cricket/Cards/SoundMaskingCardController.cs
  Controller/Heroes/Cricket/Cards/SubharmonicReceiverCardController.cs
  Controller/Heroes/Cricket/Cards/SwarmingFrequencyCardController.cs
  Controller/Heroes/Cricket/Cards/TelescopingStaffCardController.cs
  Controller/Heroes/Cricket/Cards/VantagePointCardController.cs
  Controller/Heroes/Cricket/Cards/VoiceMimicryCardController.cs
  Controller/Heroes/Cricket/CharacterCards/CricketCharacterCardController.cs
  Controller/Heroes/Cricket/CharacterCards/FirstResponseCricketCharacterCardController.cs
  Controller/Heroes/Cricket/CharacterCards/RenegadeCricketCharacterCardController.cs
  Controller/Heroes/Cricket/CharacterCards/WastelandRoninCricketCharacterCardController.cs
  DeckLists/Hero/CricketDeckList.json
  Docs/manifest.json
  Testing/Heroes/CricketTests.cs
  Testing/Heroes/CricketVariantTests.cs
Labels: Deck Peer Review Pending, Variant Peer Review

#481 Blackwood fixes
  Controller/Environments/BlackwoodForest/Cards/DenseBramblesCardController.cs
  Controller/Environments/BlackwoodForest/Cards/DesolationCardController.cs
  Controller/Environments/BlackwoodForest/Cards/DontStrayFromThePathCardController.cs
  Controller/Environments/BlackwoodForest/Cards/MirrorWraithCardController.cs
  Controller/Environments/BlackwoodForest/Cards/OldBonesCardController.cs
  Controller/Environments/BlackwoodForest/Cards/OvergrownCathedralCardController.cs
  Controller/Environments/BlackwoodForest/Cards/ShadowStalkerCardController.cs
  Controller/Environments/BlackwoodForest/Cards/ShadowWeaverCardController.cs
  Controller/Environments/BlackwoodForest/Cards/TheBlackTreeCardController.cs
  Controller/Environments/BlackwoodForest/Cards/TheHoundCardController.cs
  Controller/Environments/BlackwoodForest/Cards/VengefulSpiritsCardController.cs
  Controller/Environments/BlackwoodForest/Cards/WillOTheWispCardController.cs
  Testing/Environments/BlackwoodForestTests.cs
Labels: confirmed bug

#492 Knight Variant Peer Review
  Art/Atlas/SetupGame0.json
  Art/Atlas/TheKnightAtlas0.json
  Controller/Heroes/TheKnight/CardSubClasses/RoninAssignableCardController.cs
  Controller/Heroes/TheKnight/CardSubClasses/SingleHandEquipmentCardController.cs
  Controller/Heroes/TheKnight/CardSubClasses/TheKnightCardController.cs
  Controller/Heroes/TheKnight/CardSubClasses/TheKnightUtilityCharacterCardController.cs
  Controller/Heroes/TheKnight/Cards/KnightsHonorCardController.cs
  Controller/Heroes/TheKnight/Cards/PlateHelmCardController.cs
  Controller/Heroes/TheKnight/Cards/PlateMailCardController.cs
  Controller/Heroes/TheKnight/Cards/ShortSwordCardController.cs
  Controller/Heroes/TheKnight/Cards/StalwartShieldCardController.cs
  Controller/Heroes/TheKnight/Cards/WhetstoneCardController.cs
  Controller/Heroes/TheKnight/CharacterCards/BerserkerTheKnightCharacterCardController.cs
  Controller/Heroes/TheKnight/CharacterCards/FairTheKnightCharacterCardController.cs
  Controller/Heroes/TheKnight/CharacterCards/PastTheKnightCharacterCardController.cs
  Controller/Heroes/TheKnight/CharacterCards/TheKnightCharacterCardController.cs
  Controller/Heroes/TheKnight/CharacterCards/TheKnightTurnTakerController.cs
  Controller/Heroes/TheKnight/CharacterCards/TheOldKnightCharacterCardController.cs
  Controller/Heroes/TheKnight/CharacterCards/TheYoungKnightCharacterCardController.cs
  Controller/Heroes/TheKnight/CharacterCards/WastelandRoninTheKnightCharacterCardController.cs
  DeckLists/Hero/TheKnightDeckList.json
  DeckLists/Villain/OutlanderDeckList.json
  DeckLists/Villain/TheRamDeckList.json
  DeckLists/Villain/TiamatDeckList.json
  Testing/Heroes/TheKnightTests.cs
  Testing/Heroes/TheKnightVariantTests.cs
Labels: Variant Peer Review

#465 Hivemind Swarm Eater Variant
  Controller/Villains/SwarmEater/CardSubClasses/AugCardController.cs
  Controller/Villains/SwarmEater/Cards/BladeAugCardController.cs
  Controller/Villains/SwarmEater/Cards/FireAugCardController.cs
  Controller/Villains/SwarmEater/Cards/JumperAugCardController.cs
  Controller/Villains/SwarmEater/Cards/LasherAugCardController.cs
  Controller/Villains/SwarmEater/Cards/SpeedAugCardController.cs
  Controller/Villains/SwarmEater/Cards/StalkerAugCardController.cs
  Controller/Villains/SwarmEater/Cards/SubterranAugCardController.cs
  Controller/Villains/SwarmEater/Cards/VenomAugCardController.cs
  Controller/Villains/SwarmEater/CharacterCards/DistributedHivemindSwarmEaterCharacterCardController.cs
  Controller/Villains/SwarmEater/CharacterCards/SwarmEaterTurnTakerController.cs
  DeckLists/Villain/SwarmEaterDeckList.json
  Testing/Villains/SwarmEaterVariantTests.cs
Labels: Variant Peer Review

#404 Celadroch Peer Review
  Controller/Villains/Celadroch/CardSubClasses/CeladrochCelestialCardController.cs
  Controller/Villains/Celadroch/CardSubClasses/CeladrochOngoingCardController.cs
  Controller/Villains/Celadroch/CardSubClasses/CeladrochPillarCardController.cs
  Controller/Villains/Celadroch/CardSubClasses/CeladrochPillarRewards.cs
  Controller/Villains/Celadroch/CardSubClasses/CeladrochZombieCardController.cs
  Controller/Villains/Celadroch/Cards/AutumnsTormentCardController.cs
  Controller/Villains/Celadroch/Cards/AvatarOfDeathCardController.cs
  Controller/Villains/Celadroch/Cards/ForsakenCrusaderCardController.cs
  Controller/Villains/Celadroch/Cards/GallowsBlastCardController.cs
  Controller/Villains/Celadroch/Cards/GraspingBreathCardController.cs
  Controller/Villains/Celadroch/Cards/HollowAngelCardController.cs
  Controller/Villains/Celadroch/Cards/HoursTilDawnCardController.cs
  Controller/Villains/Celadroch/Cards/LaughingHagCardController.cs
  Controller/Villains/Celadroch/Cards/LeechingBreathCardController.cs
  Controller/Villains/Celadroch/Cards/LingeringExhalationCardController.cs
  Controller/Villains/Celadroch/Cards/LordOfTheMidnightRevelCardController.cs
  Controller/Villains/Celadroch/Cards/NightUnderTheMountainCardController.cs
  Controller/Villains/Celadroch/Cards/PillarOfNightCardController.cs
  Controller/Villains/Celadroch/Cards/PillarOfSkyCardController.cs
  Controller/Villains/Celadroch/Cards/PillarOfStormsCardController.cs
  Controller/Villains/Celadroch/Cards/RattlingWindCardController.cs
  Controller/Villains/Celadroch/Cards/ScreamingGaleCardController.cs
  Controller/Villains/Celadroch/Cards/SpringsAtrophyCardController.cs
  Controller/Villains/Celadroch/Cards/SummersWrathCardController.cs
  Controller/Villains/Celadroch/Cards/TatteredDevilCardController.cs
  Controller/Villains/Celadroch/Cards/TheMountainsMadnessCardController.cs
  Controller/Villains/Celadroch/Cards/WhisperingBreathCardController.cs
  Controller/Villains/Celadroch/Cards/WintersBaneCardController.cs
  Controller/Villains/Celadroch/CharacterCards/CeladrochCharacterCardController.cs
  Controller/Villains/Celadroch/CharacterCards/CeladrochTurnTakerController.cs
  Docs/manifest.json
  Testing/Villains/CeladrochTests.cs
Labels: Deck Peer Review Pending

#552 Impact peer review
  Controller/Heroes/Impact/Cards/AcceleratedCollisionCardController.cs
  Controller/Heroes/Impact/Cards/CrushingRiftCardController.cs
  Controller/Heroes/Impact/Cards/DecayingOrbitCardController.cs
  Controller/Heroes/Impact/Cards/EscapeVelocityCardController.cs
  Controller/Heroes/Impact/Cards/GravitationalLensingCardController.cs
  Controller/Heroes/Impact/Cards/GraviticOrbCardController.cs
  Controller/Heroes/Impact/Cards/HurledObstructionCardController.cs
  Controller/Heroes/Impact/Cards/InescapablePullCardController.cs
  Controller/Heroes/Impact/Cards/LocalMicrogravityCardController.cs
  Controller/Heroes/Impact/Cards/MassDriverCardController.cs
  Controller/Heroes/Impact/Cards/MeditateCardController.cs
  Controller/Heroes/Impact/Cards/RepulsionFieldCardController.cs
  Controller/Heroes/Impact/Cards/SlingshotTrajectoryCardController.cs
  Controller/Heroes/Impact/Cards/SpatialFinesseCardController.cs
  Controller/Heroes/Impact/CharacterCards/ImpactCharacterCardController.cs
  Controller/Heroes/Impact/CharacterCards/RenegadeImpactCharacterCardController.cs
  Controller/Heroes/Impact/CharacterCards/WastelandRoninImpactCharacterCardController.cs
  DeckLists/Hero/ImpactDeckList.json
  Docs/manifest.json
  Testing/Heroes/ImpactTests.cs
  Testing/Heroes/ImpactVariantTests.cs
Labels: Deck Peer Review Pending, Variant Peer Review

#572 Windcolor Dendron
  Controller/Villains/Dendron/Cards/DarkDesignCardController.cs
  Controller/Villains/Dendron/CharacterCards/DendronTurnTakerController.cs
  Controller/Villains/Dendron/CharacterCards/WindcolorDendronCharacterCardController.cs
  DeckLists/Villain/DendronDeckList.json
  Testing/Villains/DendronVariantTests.cs
Labels: Variant Peer Review

#590 Echelon Peer Review
  Controller/Heroes/Echelon/CardSubClasses/EchelonBaseCardController.cs
  Controller/Heroes/Echelon/CardSubClasses/InOutCardController.cs
  Controller/Heroes/Echelon/CardSubClasses/TacticBaseCardController.cs
  Controller/Heroes/Echelon/Cards/AdvanceAndRegroupCardController.cs
  Controller/Heroes/Echelon/Cards/BreakThroughCardController.cs
  Controller/Heroes/Echelon/Cards/CommandAndConquerCardController.cs
  Controller/Heroes/Echelon/Cards/DatabaseUplinkCardController.cs
  Controller/Heroes/Echelon/Cards/FindAWayInCardController.cs
  Controller/Heroes/Echelon/Cards/FirstResponderCardController.cs
  Controller/Heroes/Echelon/Cards/KnowYourEnemyCardController.cs
  Controller/Heroes/Echelon/Cards/NeedAWayOutCardController.cs
  Controller/Heroes/Echelon/Cards/OverwatchCardController.cs
  Controller/Heroes/Echelon/Cards/PracticedTeamworkCardController.cs
  Controller/Heroes/Echelon/Cards/RemoteObservationCardController.cs
  Controller/Heroes/Echelon/Cards/RuthlessIntimidationCardController.cs
  Controller/Heroes/Echelon/Cards/StaggeredAssaultCardController.cs
  Controller/Heroes/Echelon/Cards/StrategicDeploymentCardController.cs
  Controller/Heroes/Echelon/Cards/SurpriseAttackCardController.cs
  Controller/Heroes/Echelon/Cards/TeslaKnucklesCardController.cs
  Controller/Heroes/Echelon/Cards/TheKestrelMarkIICardController.cs
  Controller/Heroes/Echelon/CharacterCards/EchelonCharacterCardController.cs
  DeckLists/Hero/EchelonDeckList.json
  Docs/manifest.json
  Testing/Heroes/EchelonTests.cs
Labels: Deck Peer Review Pending

#560 Vanish Variants
  Controller/Heroes/Vanish/CharacterCards/FirstResponseVanishCharacterCardController.cs
  Controller/Heroes/Vanish/CharacterCards/PastVanishCharacterCardController.cs
  Controller/Heroes/Vanish/CharacterCards/TombOfThievesVanishCharacterCardController.cs
  DeckLists/Hero/VanishDeckList.json
  Testing/Heroes/VanishVariantTests.cs
Labels: Variant Peer Review

#548 Malichae variants
  Controller/Heroes/Malichae/Cards/GrandBathielCardController.cs
  Controller/Heroes/Malichae/Cards/GrandEzaelCardController.cs
  Controller/Heroes/Malichae/Cards/GrandReshielCardController.cs
  Controller/Heroes/Malichae/Cards/GrandSomaelCardController.cs
  Controller/Heroes/Malichae/Cards/HighBathielCardController.cs
  Controller/Heroes/Malichae/Cards/HighEzaelCardController.cs
  Controller/Heroes/Malichae/Cards/HighReshielCardController.cs
  Controller/Heroes/Malichae/Cards/HighSomaelCardController.cs
  Controller/Heroes/Malichae/CharacterCards/MinistryOfStrategicScienceMalichaeCharacterCardController.cs
  Controller/Heroes/Malichae/CharacterCards/ShardmasterMalichaeCharacterCardController.cs
  DeckLists/Hero/MalichaeDeckList.json
  Testing/Heroes/MalichaeVariantTests.cs
Labels: Variant Peer Review

#566 Magnificent Mara variants
  Controller/Heroes/MagnificentMara/CardSubClasses/MaraUtilityCharacterCardController.cs
  Controller/Heroes/MagnificentMara/Cards/AbracadabraCardController.cs
  Controller/Heroes/MagnificentMara/Cards/DowsingCrystalCardController.cs
  Controller/Heroes/MagnificentMara/Cards/HandIsFasterThanTheEyeCardController.cs
  Controller/Heroes/MagnificentMara/Cards/MesmerPendantCardController.cs
  Controller/Heroes/MagnificentMara/Cards/MysticalEnhancementCardController.cs
  Controller/Heroes/MagnificentMara/Cards/WandOfBanishmentCardController.cs
  Controller/Heroes/MagnificentMara/CharacterCards/MagnificentMaraCharacterCardController.cs
  Controller/Heroes/MagnificentMara/CharacterCards/MinistryOfStrategicScienceMagnificentMaraCharacterCardController.cs
  Controller/Heroes/MagnificentMara/CharacterCards/PastMagnificentMaraCharacterCardController.cs
  Controller/Villains/Tiamat/CardSubClasses/HydraTiamatCharacterCardController.cs
  Controller/Villains/Tiamat/CardSubClasses/HydraTiamatInstructionsCardController.cs
  Controller/Villains/Tiamat/CardSubClasses/SpellCardController.cs
  Controller/Villains/Tiamat/CardSubClasses/TiamatCharacterCardController.cs
  Controller/Villains/Tiamat/CardSubClasses/TiamatSubCharacterCardController.cs
  Controller/Villains/Tiamat/CharacterCards/InfernoTiamatCharacterCardController.cs
  Controller/Villains/Tiamat/CharacterCards/StormTiamatCharacterCardController.cs
  Controller/Villains/Tiamat/CharacterCards/WinterTiamatCharacterCardController.cs
  DeckLists/Hero/MagnificentMaraDeckList.json
  Testing/Heroes/MagnificentMaraTests.cs
  Testing/Heroes/MagnificentMaraVariantTests.cs
Labels: Variant Peer Review

#634 implemented tango one creed of the sniper
  Controller/Heroes/TangoOne/CharacterCards/CreedOfTheSniperTangoOneCharacterCardController.cs
  DeckLists/Hero/TangoOneDeckList.json
  Testing/Heroes/TangoOnePromoTests.cs
Labels: Variant Peer Review

#670 area-51 starlight
  Controller/Heroes/Starlight/CharacterCards/Area51StarlightCharacterCardController.cs
  DeckLists/Hero/StarlightDeckList.json
  Testing/Heroes/StarlightVariantTests.cs
Labels: Variant Peer Review
