Repository SotMSteamMods/CauldronMods, pull requests merged in 2021-01, with the labels that each got.

#686 Doc Havoc 2199
  Controller/Heroes/DocHavoc/CharacterCards/FutureDocHavocCharacterCardController.cs
  DeckLists/Hero/DocHavocDeckList.json
  DeckLists/Hero/EchelonDeckList.json
  DeckLists/Hero/GargoyleDeckList.json
  DeckLists/Hero/QuicksilverDeckList.json
  DeckLists/Hero/TerminusDeckList.json
  Testing/Heroes/DocHavocPromoTests.cs
  Testing/Heroes/LadyOfTheWoodTests.cs
  Testing/Villains/AnathemaVariantTests.cs
Labels: Variant Peer Review

#693 Harbinger Quicksilver
  Controller/Heroes/Quicksilver/CharacterCards/HarbingerQuicksilverCharacterCardController.cs
  DeckLists/Hero/QuicksilverDeckList.json
  Testing/Heroes/QuicksilverVariantsTests.cs
Labels: Variant Peer Review

#680 Echelon variant peer review
  Controller/Heroes/Echelon/Cards/RemoteObservationCardController.cs
  Controller/Heroes/Echelon/CharacterCards/FirstResponseEchelonCharacterCardController.cs
  Controller/Heroes/Echelon/CharacterCards/FutureEchelonCharacterCardController.cs
  DeckLists/Hero/EchelonDeckList.json
  Testing/Heroes/EchelonVariantTests.cs
Labels: Variant Peer Review

#692 updated master identifer and decklist text
  Docs/MUSIC_CREDITS.md
  Utility/DeckAndPromoIdentifiers.txt
  Utility/DecklistIcons.txt
Labels: documentation

#727 Vault Five Peer Review
  CauldronMods/Controller/Environments/VaultFive/CardSubClasses/ArtifactCardController.cs
  CauldronMods/Controller/Environments/VaultFive/CardSubClasses/VaultFiveUtilityCardController.cs
  CauldronMods/Controller/Environments/VaultFive/Cards/ByrgsNailCardController.cs
  CauldronMods/Controller/Environments/VaultFive/Cards/DeeperIntoTheVaultCardController.cs
  CauldronMods/Controller/Environments/VaultFive/Cards/DirectorWellsCardController.cs
  CauldronMods/Controller/Environments/VaultFive/Cards/ForbiddenKnowledgeCardController.cs
  CauldronMods/Controller/Environments/VaultFive/Cards/MapToLostChothCardController.cs
  CauldronMods/Controller/Environments/VaultFive/Cards/MomentOfSanityCardController.cs
  CauldronMods/Controller/Environments/VaultFive/Cards/PelagaCardController.cs
  CauldronMods/Controller/Environments/VaultFive/Cards/PhoebeNelsonCardController.cs
  CauldronMods/Controller/Environments/VaultFive/Cards/ShatteredDisplayCaseCardController.cs
  CauldronMods/Controller/Environments/VaultFive/Cards/SigQuilsSignCardController.cs
  CauldronMods/Controller/Environments/VaultFive/Cards/TheAncientsStirCardController.cs
  CauldronMods/Controller/Environments/VaultFive/Cards/TheCoinThatStraysCardController.cs
  CauldronMods/Controller/Environments/VaultFive/Cards/TheEyeOfFomirhetCardController.cs
  CauldronMods/Controller/Environments/VaultFive/Cards/TheOuterMusicCardController.cs
  CauldronMods/Controller/Environments/VaultFive/Cards/TheRatsInTheWallsCardController.cs
  CauldronMods/DeckLists/Environment/VaultFiveDeckList.json
  CauldronMods/manifest.json
  Testing/Environments/VaultFiveTests.cs
Labels: Deck Peer Review Pending

#731 ScreaMachine
  Art/Atlas/ScreaMachineAtlas0.json
  CauldronMods/Controller/Villains/ScreaMachine/CardSubClasses/ScreaMachineBandCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/CardSubClasses/ScreaMachineBandCharacterCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/CardSubClasses/ScreaMachineBandmate.cs
  CauldronMods/Controller/Villains/ScreaMachine/CardSubClasses/ScreaMachineUtilityCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/CardSubClasses/ScreaMachineUtilityCharacterCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/Cards/BiosurgeCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/Cards/CantStopTheMusicCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/Cards/DeathMetalCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/Cards/HarshNoteCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/Cards/HypnotizeTheCrowdCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/Cards/IrresistableVoiceCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/Cards/LiveInConcertCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/Cards/MentalLinkCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/Cards/NothingButHitsCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/Cards/PercussiveWaveCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/Cards/PoundingRhythmCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/Cards/ScreamAndShoutCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/Cards/ShredZoneCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/Cards/SlicesAxeCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/Cards/TectonicBeatCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/Cards/UpToElevenCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/CharacterCards/BloodlaceCharacterCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/CharacterCards/RickyGCharacterCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/CharacterCards/ScreaMachineTurnTakerController.cs
  CauldronMods/Controller/Villains/ScreaMachine/CharacterCards/SliceCharacterCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/CharacterCards/TheSetListCardController.cs
  CauldronMods/Controller/Villains/ScreaMachine/CharacterCards/ValentineCharacterCardController.cs
  CauldronMods/DeckLists/Villain/ScreaMachineDeckList.json
  CauldronMods/manifest.json
  Testing/Villains/ScreaMachineTests.cs
Labels: Deck Peer Review Pending

#723 Tiamat 2199 Peer Review
  CauldronMods/Controller/Villains/Tiamat/CardSubClasses/DragonscaleCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CardSubClasses/HydraTiamatCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CardSubClasses/HydraTiamatInstructionsCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CardSubClasses/SpellCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CardSubClasses/TiamatCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CardSubClasses/TiamatSubCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/Cards/ElementOfFireCardController.cs
  CauldronMods/Controller/Villains/Tiamat/Cards/ElementOfIceCardController.cs
  CauldronMods/Controller/Villains/Tiamat/Cards/ElementOfLightningCardController.cs
  CauldronMods/Controller/Villains/Tiamat/Cards/ElementalFormCardController.cs
  CauldronMods/Controller/Villains/Tiamat/Cards/ManaChargeCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/2199/ExoscaleCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/2199/FutureTiamatCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/2199/NeoscaleCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/ElementalHydra/HydraDecayTiamatCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/ElementalHydra/HydraEarthTiamatCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/ElementalHydra/HydraStormTiamatCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/ElementalHydra/HydraWindTiamatCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/ElementalHydra/HydraWinterTiamatCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/ElementalHydra/Instructions/HydraFrigidEarthTiamatInstructionsCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/ElementalHydra/Instructions/HydraNoxiousFireTiamatInstructionsCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/ElementalHydra/Instructions/HydraThunderousGaleTiamatInstructionsCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/Regular/InfernoTiamatCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/Regular/StormTiamatCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/Regular/WinterTiamatCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/TiamatTurnTakerController.cs
  CauldronMods/DeckLists/Villain/TiamatDeckList.json
  Testing/Villains/TiamatFutureTests.cs
Labels: Variant Peer Review

#732 The chasm of a thousand nights Peer review
  Art/LargeCardTextures/TheChasmOfAThousandNights/TheChasmOfAThousandNights.png
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/CardSubClasses/NatureCardController.cs
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/CardSubClasses/TheChasmOfAThousandNightsUtilityCardController.cs
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/Cards/AxionCardController.cs
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/Cards/BeyondTheVeilCardController.cs
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/Cards/CrumblingRuinsCardController.cs
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/Cards/GrandAmaraqielCardController.cs
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/Cards/GulCardController.cs
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/Cards/HighMhegasCardController.cs
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/Cards/HighTemoqCardController.cs
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/Cards/IreOfTheDjinnCardController.cs
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/Cards/MalevolentCardController.cs
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/Cards/NoxiousCardController.cs
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/Cards/RatherFriendlyCardController.cs
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/Cards/SurprisinglyAgileCardController.cs
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/Cards/TevaelCardController.cs
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/Cards/TheChasmOfAThousandNightsCardController.cs
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/Cards/ThievingCardController.cs
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/Cards/ViciousCardController.cs
  CauldronMods/Controller/Environments/TheChasmOfAThousandNights/TurnTaker/TheChasmOfAThousandNightsTurnTakerController.cs
  CauldronMods/DeckLists/Environment/TheChasmOfAThousandNightsDeckList.json
  CauldronMods/manifest.json
  Testing/Environments/TheChasmOfAThousandNightsTests.cs
Labels: Deck Peer Review Pending

#756 The Mistress of Fate peer review
  CauldronMods/Controller/Villains/TheMistressOfFate/CardSubClasses/DayCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/CardSubClasses/TheMistressOfFateUtilityCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/CantFightFateCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/ChaosButterflyCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/DayOfSaintsCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/DayOfSinnersCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/DayOfSorrowsCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/DayOfSwordsCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/FadingRealitiesCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/HourDevourerCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/IllusionOfFreeWillCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/MemoryOfTomorrowCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/NecessaryCorrectionCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/ResidualMalusCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/SameTimeAndPlaceCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/SeeThePatternCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/StolenFutureCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/StorageCards/DeckStorageCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/StorageCards/HandStorageCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/StorageCards/TrashStorageCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/TangledWeftCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/TheTimelineCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/ToDustCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/Cards/WarpedMalusCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/CharacterCards/TheMistressOfFateCharacterCardController.cs
  CauldronMods/Controller/Villains/TheMistressOfFate/CharacterCards/TheMistressOfFateTurnTakerController.cs
  CauldronMods/DeckLists/Villain/TheMistressOfFateDeckList.json
  CauldronMods/manifest.json
  Testing/Villains/TheMistressOfFateTests.cs
Labels: Deck Peer Review Pending

#760 Gargoyle - Complete Deck
  CauldronMods/Controller/Heroes/Gargoyle/CardSubClasses/GargoyleUtilityCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/CardSubClasses/GargoyleUtilityCharacterCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/Cards/AbsorbAndUnleashCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/Cards/AgileTechniqueCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/Cards/BioenergyPulseCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/Cards/DreamcatcherCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/Cards/EssenceTheftCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/Cards/GrimHeraldCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/Cards/LeechFieldCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/Cards/MarkForExecutionCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/Cards/PreservationEngineCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/Cards/SomethingToFearCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/Cards/TerrorizeCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/Cards/UltimatumCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/Cards/ViolentAssistCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/Cards/WitherCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/Cards/YourStrengthIsMineCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/CharacterCards/DragonRangerGargoyleCharacterCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/CharacterCards/FutureGargoyleCharacterCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/CharacterCards/GargoyleCharacterCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/CharacterCards/InfiltratorGargoyleCharacterCardController.cs
  CauldronMods/Controller/Heroes/Gargoyle/CharacterCards/WastelandRoninGargoyleCharacterCardController.cs
  CauldronMods/Controller/Heroes/Impact/Cards/AcceleratedCollisionCardController.cs
  CauldronMods/DeckLists/Hero/GargoyleDeckList.json
  CauldronMods/manifest.json
  Testing/Heroes/GargoyleTests.cs
  Testing/Heroes/GargoyleVariantTests.cs
Labels: Deck Peer Review Pending

#784 Bugfixes jan 23
  Art/Atlas/TiamatAtlas0.json
  Art/Atlas/TiamatAtlas0.png
  CauldronMods/DeckLists/Villain/TiamatDeckList.json
Labels: art, confirmed bug

#730 Catchwater harbor Peer Review
  CauldronMods/Controller/Environments/CatchwaterHarbor/CardSubClasses/CatchwaterHarborUtilityCardController.cs
  CauldronMods/Controller/Environments/CatchwaterHarbor/CardSubClasses/TransportCardController.cs
  CauldronMods/Controller/Environments/CatchwaterHarbor/Cards/AbandonedFactoryCardController.cs
  CauldronMods/Controller/Environments/CatchwaterHarbor/Cards/AllAboardCardController.cs
  CauldronMods/Controller/Environments/CatchwaterHarbor/Cards/AlteringHistoryCardController.cs
  CauldronMods/Controller/Environments/CatchwaterHarbor/Cards/FrightenedOnlookersCardController.cs
  CauldronMods/Controller/Environments/CatchwaterHarbor/Cards/HarborCraneCardController.cs
  CauldronMods/Controller/Environments/CatchwaterHarbor/Cards/HarkinParishJrCardController.cs
  CauldronMods/Controller/Environments/CatchwaterHarbor/Cards/LeftBehindCardController.cs
  CauldronMods/Controller/Environments/CatchwaterHarbor/Cards/OminousLoopCardController.cs
  CauldronMods/Controller/Environments/CatchwaterHarbor/Cards/RadioPlazaCardController.cs
  CauldronMods/Controller/Environments/CatchwaterHarbor/Cards/SSEscapeCardController.cs
  CauldronMods/Controller/Environments/CatchwaterHarbor/Cards/SmoothCriminalCardController.cs
  CauldronMods/Controller/Environments/CatchwaterHarbor/Cards/TheCervantesClubCardController.cs
  CauldronMods/Controller/Environments/CatchwaterHarbor/Cards/ThisJustInCardController.cs
  CauldronMods/Controller/Environments/CatchwaterHarbor/Cards/ToOverbrookCardController.cs
  CauldronMods/Controller/Environments/CatchwaterHarbor/Cards/UnmooredZeppelinCardController.cs
  CauldronMods/DeckLists/Environment/CatchwaterHarborDeckList.json
  CauldronMods/manifest.json
  Testing/Environments/CatchwaterHarborTests.cs
Labels: Deck Peer Review Pending

#769 Nightlore citadel Peer Review
  CauldronMods/Controller/Environments/NightloreCitadel/CardSubClasses/NightloreCitadelUtilityCardController.cs
  CauldronMods/Controller/Environments/NightloreCitadel/Cards/AethiumCannonCardController.cs
  CauldronMods/Controller/Environments/NightloreCitadel/Cards/AethiumRageCardController.cs
  CauldronMods/Controller/Environments/NightloreCitadel/Cards/ArtemisVectorCardController.cs
  CauldronMods/Controller/Environments/NightloreCitadel/Cards/AssembleTheCouncilCardController.cs
  CauldronMods/Controller/Environments/NightloreCitadel/Cards/CitadelGarrisonCardController.cs
  CauldronMods/Controller/Environments/NightloreCitadel/Cards/GravityFluctuationCardController.cs
  CauldronMods/Controller/Environments/NightloreCitadel/Cards/LonelyCallingCardController.cs
  CauldronMods/Controller/Environments/NightloreCitadel/Cards/RogueConstellationCardController.cs
  CauldronMods/Controller/Environments/NightloreCitadel/Cards/StarlightOfNoomeCardController.cs
  CauldronMods/Controller/Environments/NightloreCitadel/Cards/StarlightOfOrosCardController.cs
  CauldronMods/Controller/Environments/NightloreCitadel/Cards/StarlightOfZzeckCardController.cs
  CauldronMods/Controller/Environments/NightloreCitadel/Cards/TalinBroskCardController.cs
  CauldronMods/Controller/Environments/NightloreCitadel/Cards/UrgentMissionCardController.cs
  CauldronMods/Controller/Environments/NightloreCitadel/Cards/WarpBridgeCardController.cs
  CauldronMods/Controller/Environments/NightloreCitadel/Cards/WatchedByTheStarsCardController.cs
  CauldronMods/DeckLists/Environment/NightloreCitadelDeckList.json
  CauldronMods/manifest.json
  Testing/Environments/NightloreCitadelTests.cs
Labels: Deck Peer Review Pending

#816 Outlander Peer Review
  CauldronMods/Controller/Villains/Outlander/CardSubClasses/OutlanderTraceCardController.cs
  CauldronMods/Controller/Villains/Outlander/CardSubClasses/OutlanderUtilityCardController.cs
  CauldronMods/Controller/Villains/Outlander/Cards/AnchoredFragmentCardController.cs
  CauldronMods/Controller/Villains/Outlander/Cards/ArchangelCardController.cs
  CauldronMods/Controller/Villains/Outlander/Cards/CrusaderCardController.cs
  CauldronMods/Controller/Villains/Outlander/Cards/DimensionalInsinuationCardController.cs
  CauldronMods/Controller/Villains/Outlander/Cards/DisarmingBlowCardController.cs
  CauldronMods/Controller/Villains/Outlander/Cards/DragonbornCardController.cs
  CauldronMods/Controller/Villains/Outlander/Cards/KnightsHatredCardController.cs
  CauldronMods/Controller/Villains/Outlander/Cards/MagekillerCardController.cs
  CauldronMods/Controller/Villains/Outlander/Cards/OutOfTouchCardController.cs
  CauldronMods/Controller/Villains/Outlander/Cards/RiftbladeStrikesCardController.cs
  CauldronMods/Controller/Villains/Outlander/Cards/TransdimensionalOnslaughtCardController.cs
  CauldronMods/Controller/Villains/Outlander/Cards/WarbrandCardController.cs
  CauldronMods/Controller/Villains/Outlander/CharacterCards/OutlanderCharacterCardController.cs
  CauldronMods/Controller/Villains/Outlander/CharacterCards/OutlanderTurnTakerController.cs
  CauldronMods/DeckLists/Villain/OutlanderDeckList.json
  CauldronMods/manifest.json
  Testing/CauldronBaseTest.cs
  Testing/Villains/OutlanderTests.cs
Labels: Deck Peer Review Pending
