Repository SotMSteamMods/CauldronMods, pull requests merged in 2021-03, with the labels that each got.

#1022 Anathema challenge
  CauldronMods/Controller/Villains/Anathema/Cards/BiofeedbackCardController.cs
  CauldronMods/Controller/Villains/Anathema/CharacterCards/AnathemaCharacterCardController.cs
  CauldronMods/Controller/Villains/Anathema/CharacterCards/AnathemaTurnTakerController.cs
  CauldronMods/DeckLists/Villain/AnathemaDeckList.json
  Testing/Villains/AnathemaTests.cs
Labels: Challenge Mode

#1023 Celadroch challenge
  CauldronMods/Controller/Villains/Celadroch/CharacterCards/CeladrochCharacterCardController.cs
  CauldronMods/Controller/Villains/Celadroch/CharacterCards/CeladrochTurnTakerController.cs
  CauldronMods/DeckLists/Villain/CeladrochDeckList.json
  Testing/Villains/CeladrochTests.cs
Labels: Challenge Mode

#1024 Variant anathema challenge
  CauldronMods/Controller/Villains/Anathema/CharacterCards/AcceleratedEvolutionAnathemaCharacterCardController.cs
  CauldronMods/DeckLists/Villain/AnathemaDeckList.json
  Testing/Villains/AnathemaVariantTests.cs
Labels: Challenge Mode

#975 Oblivaeon testing - windmill city
  Testing/BaseTest.cs
  Testing/CauldronBaseTest.cs
  Testing/Oblivaeon/Environments/WindmillCityTests.cs
Labels: Oblivaeon Testing

#976 pyre and dynamo card text fixes
  CauldronMods/DeckLists/Hero/PyreDeckList.json
  CauldronMods/DeckLists/Villain/DynamoDeckList.json
Labels: Text Issue

#1018 The knight and oblivaeon
  CauldronMods/Controller/Heroes/TheKnight/CardSubClasses/RoninAssignableCardController.cs
  CauldronMods/Controller/Heroes/TheKnight/CardSubClasses/TheKnightCardController.cs
  CauldronMods/Controller/Heroes/TheKnight/CardSubClasses/TheKnightUtilityCharacterCardController.cs
  CauldronMods/Controller/Heroes/TheKnight/CharacterCards/WastelandRoninTheKnightCharacterCardController.cs
  Testing/CauldronBaseTest.cs
  Testing/Heroes/TheKnightTests.cs
  Testing/Heroes/TheKnightVariantTests.cs
Labels: Oblivaeon Testing

#1019 Starlight and oblivaeon
  CauldronMods/Controller/Heroes/Starlight/CardSubClasses/StarlightSubCharacterCardController.cs
  CauldronMods/Controller/Heroes/Starlight/CharacterCards/NightloreCouncilStarlightCharacterCardController.cs
  Testing/CauldronBaseTest.cs
  Testing/Heroes/StarlightTests.cs
  Testing/Heroes/StarlightVariantTests.cs
Labels: Oblivaeon Testing

#1036 Fix for 1033 - Titan's Unbreakable working through Battle Zones
  CauldronMods/Controller/Heroes/Titan/Cards/UnbreakableCardController.cs
  Testing/Heroes/TitanTests.cs
Labels: Oblivaeon Testing

#1037 Updated bullets for mistress of fate
  CauldronMods/DeckLists/Villain/TheMistressOfFateDeckList.json
Labels: enhancement

#1043 Fix for 1038 - Renegade Cricket and Dark Mind
  CauldronMods/Controller/Heroes/Cricket/CharacterCards/RenegadeCricketCharacterCardController.cs
  Testing/Heroes/CricketVariantTests.cs
  Testing/Heroes/MagnificentMaraTests.cs
Labels: Oblivaeon Testing

#1041 Fix for 1039 - Radio Plaza in Oblivaeon Mode
  CauldronMods/Controller/Environments/CatchwaterHarbor/Cards/RadioPlazaCardController.cs
  Testing/Environments/CatchwaterHarborTests.cs
Labels: Oblivaeon Testing

#1045 Fix for 1042 - Vector Game Freezes on Start in Multiplayer
  CauldronMods/Controller/Villains/Vector/CharacterCards/VectorTurnTakerController.cs
Labels: Multiplayer Issue

#1052 Flash before your eyes special string fix
  CauldronMods/Controller/Heroes/Terminus/Cards/FlashBeforeYourEyesCardController.cs
  Testing/Heroes/TerminusTest.cs
Labels: Oblivaeon Testing

#1054 Fix for 1050 - Guilty Verdict Triggering Incorrectly
  CauldronMods/Controller/Heroes/Terminus/Cards/GuiltyVerdictCardController.cs
  Testing/Heroes/TerminusTest.cs
Labels: Oblivaeon Testing

#1059 Softlock when Pyre Incaps in Oblivaeon mode
  CauldronMods/Controller/Heroes/Pyre/CardSubClasses/PyreUtilityCharacterCardController.cs
  CauldronMods/Controller/Heroes/Pyre/CharacterCards/PyreTurnTakerController.cs
  Testing/Heroes/PyreTests.cs
Labels: Oblivaeon Testing

#1058 Tango one bug fixes in Oblivaeon
  CauldronMods/Controller/Heroes/TangoOne/Cards/InfiltrateCardController.cs
  CauldronMods/Controller/Heroes/TangoOne/Cards/WetWorkCardController.cs
  Testing/Heroes/TangoOneTests.cs
Labels: Oblivaeon Testing

#1034 Reveal from all decks Oblivaeon
  CauldronMods/Controller/Environments/FSCContinuanceWanderer/Cards/HeartOfTheWandererCardController.cs
  CauldronMods/Controller/Heroes/Cricket/Cards/EchonavigationCardController.cs
  CauldronMods/Controller/Heroes/Vanish/Cards/FlashReconCardController.cs
  CauldronMods/Controller/Heroes/Vanish/Cards/TacticalRelocationCardController.cs
  Testing/Environments/FSCContinuanceWandererTests.cs
  Testing/Heroes/CricketTests.cs
  Testing/Heroes/VanishTests.cs
Labels: Oblivaeon Testing

#1091 Vector Challenge Mode
  CauldronMods/Controller/Villains/Vector/CharacterCards/VectorCharacterCardController.cs
  CauldronMods/Controller/Villains/Vector/CharacterCards/VectorTurnTakerController.cs
  CauldronMods/DeckLists/Villain/VectorDeckList.json
  Testing/Villains/VectorTests.cs
Labels: Challenge Mode

#1079 Dendron + Windcolor Challenge Modes
  CauldronMods/Controller/Villains/Dendron/CharacterCards/DendronCharacterCardController.cs
  CauldronMods/Controller/Villains/Dendron/CharacterCards/DendronTurnTakerController.cs
  CauldronMods/Controller/Villains/Dendron/CharacterCards/WindcolorDendronCharacterCardController.cs
  CauldronMods/DeckLists/Villain/DendronDeckList.json
  Testing/CauldronBaseTest.cs
  Testing/Villains/DendronTests.cs
  Testing/Villains/DendronVariantTests.cs
Labels: Challenge Mode

#1082 Dynamo Challenge Mode
  CauldronMods/Controller/Villains/Dynamo/CharacterCards/DynamoCharacterCardController.cs
  CauldronMods/Controller/Villains/Dynamo/CharacterCards/DynamoTurnTakerController.cs
  CauldronMods/DeckLists/Villain/DynamoDeckList.json
  Testing/Villains/DynamoTests.cs
Labels: Challenge Mode

#1088 Gray Challenge Mode
  CauldronMods/Controller/Villains/Gray/CharacterCards/GrayCharacterCardController.cs
  CauldronMods/DeckLists/Villain/GrayDeckList.json
  Testing/Villains/GrayTests.cs
Labels: Challenge Mode

#1094 Tiamat challenge mode
  CauldronMods/Controller/Heroes/LadyOfTheWood/Cards/LadyOfTheWoodsRebirthCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CardSubClasses/HydraTiamatCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CardSubClasses/TiamatCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/Cards/ElementalFrenzyCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/2199/FutureTiamatCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/ElementalHydra/Instructions/HydraNoxiousFireTiamatInstructionsCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/ElementalHydra/Instructions/HydraThunderousGaleTiamatInstructionsCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/Regular/InfernoTiamatCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/Regular/StormTiamatCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/Regular/WinterTiamatCharacterCardController.cs
  CauldronMods/Controller/Villains/Tiamat/CharacterCards/TiamatTurnTakerController.cs
  CauldronMods/DeckLists/Villain/TiamatDeckList.json
  Testing/Villains/TiamatFutureTests.cs
  Testing/Villains/TiamatHydraTests.cs
  Testing/Villains/TiamatTests.cs
Labels: Challenge Mode

#1044 Env cards going next to targets in play oblivaeon
  CauldronMods/Controller/Environments/CatchwaterHarbor/Cards/LeftBehindCardController.cs
  CauldronMods/Controller/Environments/StSimeonsCatacombs/Cards/BreathStealerCardController.cs
  CauldronMods/Controller/Environments/StSimeonsCatacombs/Cards/DarkPassengerCardController.cs
  CauldronMods/Controller/Environments/VaultFive/Cards/DirectorWellsCardController.cs
  CauldronMods/Controller/Environments/WindmillCity/Cards/InjuredWorkerCardController.cs
  Testing/Environments/CatchwaterHarborTests.cs
  Testing/Environments/FSCContinuanceWandererTests.cs
  Testing/Environments/NightloreCitadelTests.cs
  Testing/Environments/NorthsparTests.cs
  Testing/Environments/StSimeonsCatacombsTests.cs
  Testing/Environments/VaultFiveTests.cs
  Testing/Environments/WindmillCityTests.cs
  Testing/Heroes/MagnificentMaraTests.cs
  Testing/Heroes/TheStrangerTests.cs
Labels: Oblivaeon Testing

#1128 Add Imprinted images
  Art/Atlas/TitanAtlas0.json
  Art/Atlas/TitanAtlas0.png
Labels: art
