Repository SotMSteamMods/CauldronMods, pull requests merged in 2021-02, with the labels that each got.

#772 Windmill city Peer Review
  CauldronMods/Controller/Environments/WindmillCity/CardSubClasses/ResponderCardController.cs
  CauldronMods/Controller/Environments/WindmillCity/CardSubClasses/WindmillCityUtilityCardController.cs
  CauldronMods/Controller/Environments/WindmillCity/Cards/BridgeDisasterCardController.cs
  CauldronMods/Controller/Environments/WindmillCity/Cards/CitywideCarnageCardController.cs
  CauldronMods/Controller/Environments/WindmillCity/Cards/CrackedWaterMainCardController.cs
  CauldronMods/Controller/Environments/WindmillCity/Cards/CrashedTankerCardController.cs
  CauldronMods/Controller/Environments/WindmillCity/Cards/DetectiveSedrickCardController.cs
  CauldronMods/Controller/Environments/WindmillCity/Cards/FramejobCardController.cs
  CauldronMods/Controller/Environments/WindmillCity/Cards/GearlockCardController.cs
  CauldronMods/Controller/Environments/WindmillCity/Cards/GrayPharmaceuticalBuildingCardController.cs
  CauldronMods/Controller/Environments/WindmillCity/Cards/InjuredWorkerCardController.cs
  CauldronMods/Controller/Environments/WindmillCity/Cards/IntrepidReporterCardController.cs
  CauldronMods/Controller/Environments/WindmillCity/Cards/IronWaspCardController.cs
  CauldronMods/Controller/Environments/WindmillCity/Cards/RainOfDebrisCardController.cs
  CauldronMods/Controller/Environments/WindmillCity/Cards/SaveTheDayCardController.cs
  CauldronMods/Controller/Environments/WindmillCity/Cards/WCPDChariotCardController.cs
  CauldronMods/Controller/Environments/WindmillCity/Cards/WCPDSquadCardController.cs
  CauldronMods/DeckLists/Environment/WindmillCityDeckList.json
  CauldronMods/manifest.json
  Testing/Environments/WindmillCityTests.cs
Labels: Deck Peer Review Pending

#734 Mythos Peer Review
  CauldronMods/Controller/Villains/Mythos/CardSubClasses/MythosUtilityCardController.cs
  CauldronMods/Controller/Villains/Mythos/Cards/AclastyphWhoPeersCardController.cs
  CauldronMods/Controller/Villains/Mythos/Cards/ClockworkRevenantCardController.cs
  CauldronMods/Controller/Villains/Mythos/Cards/DangerousInvestigationCardController.cs
  CauldronMods/Controller/Villains/Mythos/Cards/DoktorVonFaustCardController.cs
  CauldronMods/Controller/Villains/Mythos/Cards/FaithfulProselyteCardController.cs
  CauldronMods/Controller/Villains/Mythos/Cards/HallucinatedHorrorCardController.cs
  CauldronMods/Controller/Villains/Mythos/Cards/OtherworldlyAlignmentCardController.cs
  CauldronMods/Controller/Villains/Mythos/Cards/PallidAcademicCardController.cs
  CauldronMods/Controller/Villains/Mythos/Cards/PreyUponTheMindCardController.cs
  CauldronMods/Controller/Villains/Mythos/Cards/RevelationsCardController.cs
  CauldronMods/Controller/Villains/Mythos/Cards/RitualSiteCardController.cs
  CauldronMods/Controller/Villains/Mythos/Cards/RustedArtifactCardController.cs
  CauldronMods/Controller/Villains/Mythos/Cards/TornPageCardController.cs
  CauldronMods/Controller/Villains/Mythos/Cards/WhispersAndLiesCardController.cs
  CauldronMods/Controller/Villains/Mythos/Cards/YourDarkestSecretsCardController.cs
  CauldronMods/Controller/Villains/Mythos/CharacterCards/MythosCharacterCardController.cs
  CauldronMods/Controller/Villains/Mythos/CharacterCards/MythosTurnTakerController.cs
  CauldronMods/DeckLists/Villain/MythosDeckList.json
  CauldronMods/manifest.json
  Testing/Villains/MythosTests.cs
Labels: Deck Peer Review Pending

#869 Card Issues feb 3
  Art/Atlas/StarlightAtlas0.json
  Art/Atlas/StarlightAtlas0.png
  CauldronMods/Controller/Heroes/Echelon/Cards/OverwatchCardController.cs
  CauldronMods/DeckLists/Environment/CatchwaterHarborDeckList.json
  CauldronMods/DeckLists/Environment/FSCContinuanceWandererDeckList.json
  CauldronMods/DeckLists/Environment/HalberdExperimentalResearchCenterDeckList.json
  CauldronMods/DeckLists/Environment/NightloreCitadelDeckList.json
  CauldronMods/DeckLists/Environment/NorthsparDeckList.json
  CauldronMods/DeckLists/Environment/SuperstormAkelaDeckList.json
  CauldronMods/DeckLists/Environment/TheWanderingIsleDeckList.json
  CauldronMods/DeckLists/Environment/VaultFiveDeckList.json
  CauldronMods/DeckLists/Environment/WindmillCityDeckList.json
  CauldronMods/DeckLists/Hero/CricketDeckList.json
  CauldronMods/DeckLists/Hero/CypherDeckList.json
  CauldronMods/DeckLists/Hero/DocHavocDeckList.json
  CauldronMods/DeckLists/Hero/EchelonDeckList.json
  CauldronMods/DeckLists/Hero/GargoyleDeckList.json
  CauldronMods/DeckLists/Hero/ImpactDeckList.json
  CauldronMods/DeckLists/Hero/LadyOfTheWoodDeckList.json
  CauldronMods/DeckLists/Hero/MagnificentMaraDeckList.json
  CauldronMods/DeckLists/Hero/MalichaeDeckList.json
  CauldronMods/DeckLists/Hero/NecroDeckList.json
  CauldronMods/DeckLists/Hero/QuicksilverDeckList.json
  CauldronMods/DeckLists/Hero/StarlightDeckList.json
  CauldronMods/DeckLists/Hero/TangoOneDeckList.json
  CauldronMods/DeckLists/Hero/TheKnightDeckList.json
  CauldronMods/DeckLists/Hero/TitanDeckList.json
  CauldronMods/DeckLists/Villain/CeladrochDeckList.json
  CauldronMods/DeckLists/Villain/GrayDeckList.json
  CauldronMods/DeckLists/Villain/MenagerieDeckList.json
  CauldronMods/DeckLists/Villain/MythosDeckList.json
  CauldronMods/DeckLists/Villain/TheRamDeckList.json
  Testing/Heroes/EchelonTests.cs
Labels: Text Issue, art, confirmed bug

#901 Text Issues feb 4
  CauldronMods/Controller/Heroes/Drift/Cards/MakeEverySecondCountCardController.cs
  CauldronMods/DeckLists/Environment/BlackwoodForestDeckList.json
  CauldronMods/DeckLists/Environment/CatchwaterHarborDeckList.json
  CauldronMods/DeckLists/Environment/TheChasmOfAThousandNightsDeckList.json
  CauldronMods/DeckLists/Environment/TheCybersphereDeckList.json
  CauldronMods/DeckLists/Hero/DriftDeckList.json
  CauldronMods/DeckLists/Villain/CeladrochDeckList.json
  CauldronMods/DeckLists/Villain/DendronDeckList.json
  CauldronMods/DeckLists/Villain/GrayDeckList.json
  CauldronMods/DeckLists/Villain/MenagerieDeckList.json
  CauldronMods/DeckLists/Villain/MythosDeckList.json
  CauldronMods/DeckLists/Villain/OriphelDeckList.json
  CauldronMods/DeckLists/Villain/OutlanderDeckList.json
  CauldronMods/DeckLists/Villain/ScreaMachineDeckList.json
  CauldronMods/DeckLists/Villain/SwarmEaterDeckList.json
  CauldronMods/DeckLists/Villain/TheMistressOfFateDeckList.json
  CauldronMods/DeckLists/Villain/TheRamDeckList.json
  CauldronMods/DeckLists/Villain/TiamatDeckList.json
  CauldronMods/DeckLists/Villain/VectorDeckList.json
Labels: Text Issue

#812 Oblask crater
  Art/Atlas/OblaskCraterAtlas0.json
  Art/Atlas/OblaskCraterAtlas0.png
  Art/Endings/Environments/Ending-OblaskCrater.png
  Art/Environments/OblaskCrater/OblaskCrater-0.png
  Art/Environments/OblaskCrater/OblaskCrater-1.png
  Art/Environments/OblaskCrater/OblaskCrater-10.png
  Art/Environments/OblaskCrater/OblaskCrater-11.png
  Art/Environments/OblaskCrater/OblaskCrater-2.png
  Art/Environments/OblaskCrater/OblaskCrater-3.png
  Art/Environments/OblaskCrater/OblaskCrater-4.png
  Art/Environments/OblaskCrater/OblaskCrater-5.png
  Art/Environments/OblaskCrater/OblaskCrater-6.png
  Art/Environments/OblaskCrater/OblaskCrater-7.png
  Art/Environments/OblaskCrater/OblaskCrater-8.png
  Art/Environments/OblaskCrater/OblaskCrater-9.png
  Art/Environments/OblaskCrater/OblaskCrater-Start.png
  Art/LargeCardTextures/OblaskCrater/FreshTracks.png
  Art/LargeCardTextures/OblaskCrater/GameTrail.png
  Art/LargeCardTextures/OblaskCrater/GentleTransport.png
  Art/LargeCardTextures/OblaskCrater/IndustriousHulk.png
  Art/LargeCardTextures/OblaskCrater/InscrutableEcology.png
  Art/LargeCardTextures/OblaskCrater/InvasiveGrowth.png
  Art/LargeCardTextures/OblaskCrater/MetalScavenger.png
  Art/LargeCardTextures/OblaskCrater/MoonWatcher.png
  Art/LargeCardTextures/OblaskCrater/OblaskCraterDeckBack.png
  Art/LargeCardTextures/OblaskCrater/OblaskObjectY3A.png
  Art/LargeCardTextures/OblaskCrater/OpenGround.png
  Art/LargeCardTextures/OblaskCrater/PlatedGiant.png
  Art/LargeCardTextures/OblaskCrater/ShadowOfOblask.png
  Art/LargeCardTextures/OblaskCrater/SwarmOfFangs.png
  Art/LargeCardTextures/OblaskCrater/UnknownHerds.png
  Art/LargeCardTextures/OblaskCrater/UnseenTerror.png
  CauldronMods/Controller/Environments/OblaskCrater/CardSubClasses/OblaskCraterUtilityCardController.cs
  CauldronMods/Controller/Environments/OblaskCrater/Cards/FreshTracksCardController.cs
  CauldronMods/Controller/Environments/OblaskCrater/Cards/GameTrailCardController.cs
  CauldronMods/Controller/Environments/OblaskCrater/Cards/GentleTransportCardController.cs
  CauldronMods/Controller/Environments/OblaskCrater/Cards/IndustriousHulkCardController.cs
  CauldronMods/Controller/Environments/OblaskCrater/Cards/InscrutableEcologyCardController.cs
  CauldronMods/Controller/Environments/OblaskCrater/Cards/InvasiveGrowthCardController.cs
  CauldronMods/Controller/Environments/OblaskCrater/Cards/MetalScavengerCardController.cs
  CauldronMods/Controller/Environments/OblaskCrater/Cards/MoonWatcherCardController.cs
  CauldronMods/Controller/Environments/OblaskCrater/Cards/OblaskObjectY3ACardController.cs
  CauldronMods/Controller/Environments/OblaskCrater/Cards/OpenGroundCardController.cs
  CauldronMods/Controller/Environments/OblaskCrater/Cards/PlatedGiantCardController.cs
  CauldronMods/Controller/Environments/OblaskCrater/Cards/ShadowOfOblaskCardController.cs
  CauldronMods/Controller/Environments/OblaskCrater/Cards/SwarmOfFangsCardController.cs
  CauldronMods/Controller/Environments/OblaskCrater/Cards/UnknownHerdsCardController.cs
  CauldronMods/Controller/Environments/OblaskCrater/Cards/UnseenTerrorCardController.cs
  CauldronMods/DeckLists/Environment/OblaskCraterDeckList.json
  CauldronMods/manifest.json
  Testing/Environments/OblaskCraterTests.cs
Labels: Deck Peer Review Pending

#814 Dungeons of terror Peer Review
  Art/Atlas/DungeonsOfTerror.json
  Art/Atlas/DungeonsOfTerror.png
  Art/Endings/Environments/Ending-DungeonsOfTerror.png
  Art/Environments/DungeonsOfTerror/DungeonsOfTerror-0.png
  Art/Environments/DungeonsOfTerror/DungeonsOfTerror-1.png
  Art/Environments/DungeonsOfTerror/DungeonsOfTerror-10.png
  Art/Environments/DungeonsOfTerror/DungeonsOfTerror-11.png
  Art/Environments/DungeonsOfTerror/DungeonsOfTerror-2.png
  Art/Environments/DungeonsOfTerror/DungeonsOfTerror-3.png
  Art/Environments/DungeonsOfTerror/DungeonsOfTerror-4.png
  Art/Environments/DungeonsOfTerror/DungeonsOfTerror-5.png
  Art/Environments/DungeonsOfTerror/DungeonsOfTerror-6.png
  Art/Environments/DungeonsOfTerror/DungeonsOfTerror-7.png
  Art/Environments/DungeonsOfTerror/DungeonsOfTerror-8.png
  Art/Environments/DungeonsOfTerror/DungeonsOfTerror-9.png
  Art/Environments/DungeonsOfTerror/DungeonsOfTerror-Start.png
  Art/LargeCardTextures/DungeonsOfTerror/DelayedRockTrap.png
  Art/LargeCardTextures/DungeonsOfTerror/DubiousEdibles.png
  Art/LargeCardTextures/DungeonsOfTerror/DungeonsOfTerrorDeckBack.png
  Art/LargeCardTextures/DungeonsOfTerror/EnormousPack.png
  Art/LargeCardTextures/DungeonsOfTerror/HighGround.png
  Art/LargeCardTextures/DungeonsOfTerror/ImprobableFailure.png
  Art/LargeCardTextures/DungeonsOfTerror/MagicBlade.png
  Art/LargeCardTextures/DungeonsOfTerror/OneInAMillion.png
  Art/LargeCardTextures/DungeonsOfTerror/RestfulInn.png
  Art/LargeCardTextures/DungeonsOfTerror/RingOfForesight.png
  Art/LargeCardTextures/DungeonsOfTerror/RovingSlime.png
  Art/LargeCardTextures/DungeonsOfTerror/Shopkeeper.png
  Art/LargeCardTextures/DungeonsOfTerror/StoneWarden.png
  Art/LargeCardTextures/DungeonsOfTerror/SuspiciousChest.png
  Art/LargeCardTextures/DungeonsOfTerror/TheresAlwaysABard.png
  Art/LargeCardTextures/DungeonsOfTerror/Underleveled.png
  CauldronMods/Controller/Environments/DungeonsOfTerror/CardSubClasses/DungeonsOfTerrorUtilityCardController.cs
  CauldronMods/Controller/Environments/DungeonsOfTerror/Cards/DelayedRockTrapCardController.cs
  CauldronMods/Controller/Environments/DungeonsOfTerror/Cards/DubiousEdiblesCardController.cs
  CauldronMods/Controller/Environments/DungeonsOfTerror/Cards/EnormousPackCardController.cs
  CauldronMods/Controller/Environments/DungeonsOfTerror/Cards/HighGroundCardController.cs
  CauldronMods/Controller/Environments/DungeonsOfTerror/Cards/ImprobableFailureCardController.cs
  CauldronMods/Controller/Environments/DungeonsOfTerror/Cards/MagicBladeCardController.cs
  CauldronMods/Controller/Environments/DungeonsOfTerror/Cards/OneInAMillionCardController.cs
  CauldronMods/Controller/Environments/DungeonsOfTerror/Cards/RestfulInnCardController.cs
  CauldronMods/Controller/Environments/DungeonsOfTerror/Cards/RingOfForesightCardController.cs
  CauldronMods/Controller/Environments/DungeonsOfTerror/Cards/RovingSlimeCardController.cs
  CauldronMods/Controller/Environments/DungeonsOfTerror/Cards/ShopkeeperCardController.cs
  CauldronMods/Controller/Environments/DungeonsOfTerror/Cards/StoneWardenCardController.cs
  CauldronMods/Controller/Environments/DungeonsOfTerror/Cards/SuspiciousChestCardController.cs
  CauldronMods/Controller/Environments/DungeonsOfTerror/Cards/TheresAlwaysABardCardController.cs
  CauldronMods/Controller/Environments/DungeonsOfTerror/Cards/UnderleveledCardController.cs
  CauldronMods/DeckLists/Environment/DungeonsOfTerrorDeckList.json
  CauldronMods/manifest.json
  Testing/Environments/DungeonsOfTerrorTests.cs
Labels: Deck Peer Review Pending

#844 Terminus - Complete Deck and Variants
  CauldronMods/Controller/ExtensionMethods.cs
  CauldronMods/Controller/Heroes/Terminus/CardSubClasses/TerminusBaseCardController.cs
  CauldronMods/Controller/Heroes/Terminus/CardSubClasses/TerminusBaseCharacterCardController.cs
  CauldronMods/Controller/Heroes/Terminus/CardSubClasses/TerminusMementoCardController.cs
  CauldronMods/Controller/Heroes/Terminus/CardSubClasses/TerminusUtilityCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/BoneChillingTouchCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/CovenantOfWrathCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/EtherealArmoryCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/FlashBeforeYourEyesCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/FullMoonExpressCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/GravenShellCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/GuiltyVerdictCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/ImmortalCoilsCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/JailbreakerCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/NoRestForTheWickedCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/RailwaySpikeCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/ReturnFireCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/SearingGazeCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/SoulIgnitionCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/StainedBadgeCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/StokeTheFurnaceCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/TheChainConductorCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/TheLightAtTheEndCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Cards/UnusualSuspectsCardController.cs
  CauldronMods/Controller/Heroes/Terminus/CharacterCards/FutureTerminusCharacterCardController.cs
  CauldronMods/Controller/Heroes/Terminus/CharacterCards/MinistryOfStrategicScienceTerminusCharacterCardController.cs
  CauldronMods/Controller/Heroes/Terminus/CharacterCards/TerminusCharacterCardController.cs
  CauldronMods/Controller/Heroes/Terminus/Utility/TerminusWrathPoolUtility.cs
  CauldronMods/DeckLists/Hero/TerminusDeckList.json
  CauldronMods/manifest.json
  Testing/Heroes/TerminusTest.cs
  Testing/Heroes/TerminusVariantTests.cs
Labels: Deck Peer Review Pending

#794 The Infernal Choir
  Art/Atlas/TheInfernalChoirAtlas0.json
  CauldronMods/Controller/ExtensionMethods.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/CardSubClasses/TheInfernalChoirUtilityCardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/Cards/BaneOfEmbersCardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/Cards/BaneOfIronCardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/Cards/BeneathTheFleshCardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/Cards/DanchengTheGiantCardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/Cards/EclipseCardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/Cards/HauntingNocturneCardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/Cards/InfernalElegyCardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/Cards/KataMichiCardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/Cards/MoonEaterCardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/Cards/NoWitnessesCardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/Cards/RedSunXuCardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/Cards/TheVoicesGatherCardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/Cards/TrueColorsCardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/Cards/VagrantHeartCardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/Cards/VagrantHeartPhase1CardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/Cards/VagrantHeartPhase2CardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/Cards/WretchedSymphonyCardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/CharacterCards/TheInfernalChoirCharacterCardController.cs
  CauldronMods/Controller/Villains/TheInfernalChoir/CharacterCards/TheInfernalChoirTurnTakerController.cs
  CauldronMods/DeckLists/Villain/TheInfernalChoirDeckList.json
  CauldronMods/manifest.json
  Testing/CauldronBaseTest.cs
  Testing/Villains/TheInfernalChoirTests.cs
Labels: Deck Peer Review Pending

#851 Dynamo Peer Review
  CauldronMods/Controller/Villains/Dynamo/CardSubClasses/DynamoUtilityCardController.cs
  CauldronMods/Controller/Villains/Dynamo/Cards/BankHeistCardController.cs
  CauldronMods/Controller/Villains/Dynamo/Cards/CatharticDemolitionCardController.cs
  CauldronMods/Controller/Villains/Dynamo/Cards/CopperheadCardController.cs
  CauldronMods/Controller/Villains/Dynamo/Cards/CrimeSpreeCardController.cs
  CauldronMods/Controller/Villains/Dynamo/Cards/EnergyConversionCardController.cs
  CauldronMods/Controller/Villains/Dynamo/Cards/HardenedCriminalsCardController.cs
  CauldronMods/Controller/Villains/Dynamo/Cards/HelmetedChargeCardController.cs
  CauldronMods/Controller/Villains/Dynamo/Cards/HeresThePlanCardController.cs
  CauldronMods/Controller/Villains/Dynamo/Cards/ImperviousAdvanceCardController.cs
  CauldronMods/Controller/Villains/Dynamo/Cards/KineticEnergyBeamCardController.cs
  CauldronMods/Controller/Villains/Dynamo/Cards/PythonCardController.cs
  CauldronMods/Controller/Villains/Dynamo/Cards/SlipperyThiefCardController.cs
  CauldronMods/Controller/Villains/Dynamo/Cards/StrangleholdCardController.cs
  CauldronMods/Controller/Villains/Dynamo/Cards/TakeItOutsideCardController.cs
  CauldronMods/Controller/Villains/Dynamo/Cards/WantonDestructionCardController.cs
  CauldronMods/Controller/Villains/Dynamo/CharacterCards/DynamoCharacterCardController.cs
  CauldronMods/Controller/Villains/Dynamo/CharacterCards/DynamoTurnTakerController.cs
  CauldronMods/DeckLists/Villain/DynamoDeckList.json
  CauldronMods/manifest.json
  Testing/Villains/DynamoTests.cs
Labels: Deck Peer Review Pending

#831 Pyre Peer Review
  Art/Atlas/PyreAtlas0.json
  Art/Atlas/PyreAtlas0.png
  CauldronMods/Controller/Heroes/Pyre/CardSubClasses/PyreUtilityCardController.cs
  CauldronMods/Controller/Heroes/Pyre/CardSubClasses/PyreUtilityCharacterCardController.cs
  CauldronMods/Controller/Heroes/Pyre/Cards/AtmosphereScrubbersCardController.cs
  CauldronMods/Controller/Heroes/Pyre/Cards/AtomicPunchCardController.cs
  CauldronMods/Controller/Heroes/Pyre/Cards/CellularIrradiationCardController.cs
  CauldronMods/Controller/Heroes/Pyre/Cards/CherenkovDriveCardController.cs
  CauldronMods/Controller/Heroes/Pyre/Cards/ChromodynamicsCardController.cs
  CauldronMods/Controller/Heroes/Pyre/Cards/ContainmentBreachCardController.cs
  CauldronMods/Controller/Heroes/Pyre/Cards/FissionRegulatorCardController.cs
  CauldronMods/Controller/Heroes/Pyre/Cards/FracturedControlRodCardController.cs
  CauldronMods/Controller/Heroes/Pyre/Cards/GammaBurstCardController.cs
  CauldronMods/Controller/Heroes/Pyre/Cards/HalfLifeCardController.cs
  CauldronMods/Controller/Heroes/Pyre/Cards/HullCladdingCardController.cs
  CauldronMods/Controller/Heroes/Pyre/Cards/IonTraceCardController.cs
  CauldronMods/Controller/Heroes/Pyre/Cards/IrradiatedMarkerCardController.cs
  CauldronMods/Controller/Heroes/Pyre/Cards/NeutronForcefieldCardController.cs
  CauldronMods/Controller/Heroes/Pyre/Cards/ParticleColliderCardController.cs
  CauldronMods/Controller/Heroes/Pyre/Cards/RogueFissionCascadeCardController.cs
  CauldronMods/Controller/Heroes/Pyre/Cards/ThermonuclearCoreCardController.cs
  CauldronMods/Controller/Heroes/Pyre/CharacterCards/ExpeditionOblaskPyreCharacterCardController.cs
  CauldronMods/Controller/Heroes/Pyre/CharacterCards/PyreCharacterCardController.cs
  CauldronMods/Controller/Heroes/Pyre/CharacterCards/PyreTurnTakerController.cs
  CauldronMods/Controller/Heroes/Pyre/CharacterCards/UnstablePyreCharacterCardController.cs
  CauldronMods/Controller/Heroes/Pyre/CharacterCards/WastelandRoninPyreCharacterCardController.cs
  CauldronMods/DeckLists/Hero/PyreDeckList.json
  CauldronMods/manifest.json
  Testing/Heroes/PyreTests.cs
  Testing/Heroes/PyreVariantTests.cs
Labels: Deck Peer Review Pending, Variant Peer Review

#972 Misspelling fix
  DeckBrowser/ExpeditionOblaskPyreCharacterVitals.txt
  DeckBrowser/PyreCharacterVitals.txt
  DeckBrowser/UnstablePyreCharacterVitals.txt
  DeckBrowser/WastelandRoninPyreCharacterVitals.txt
Labels: Text Issue
